<ng-content>
</ng-content>
<table *ngIf="data" class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th *ngFor="let columnName of _columnNames">{{columnName}}</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="data.length > 0; else noRowsTemplate">
            <tr *ngFor="let row of data; let i = index">
                <ng-container *ngFor="let columnName of _columnNames">
                    <td *ngIf="_rowData[columnName][i] !== null">{{ _rowData[columnName][i] }}</td>
                </ng-container>
            </tr>
        </ng-container>
    </tbody>
</table>
<ng-template #noRowsTemplate>
    <tr>
        <td>
            {{ noRecordsText ? noRecordsText : 'No Records' }}
        </td>
    </tr>
</ng-template>