<div class="container-fluid">
    <div class="col-sm-12 p-2" *ngIf="lastSelected">
        Last selected: {{ lastSelected.name }}
    </div>
    <div class="col-sm-12">
        <ngx-table 
            [data]="data.clients" 
            noRecords="No data present :)" 
            (rowClick)="onRowClick($event)">
            <ngx-table-column field="name" title="Name">
            </ngx-table-column>
            <ngx-table-column field="gender" title="Gender">
            </ngx-table-column>
            <ngx-table-column field="company" title="Company">
            </ngx-table-column>
        </ngx-table>
    </div>
</div>